<!-- BEWARE, as of SCRAIP-1159, login template rendered is inlined directly in index.
If you change the template, please update the index.html login-content as well
until possible better handling -->
<!-- BEWARE, as of SCRAIP-1159, login template rendered is inlined directly in index.
If you change the template, please update the index.html login-content as well
until possible better handling -->
<div class="login-space" id="login-content">
    <a href="../welcome.html" class="welcome-back {{#if isHdOrSDEnabled}}{{else}}hide{{/if}}" id="welcome-back">{{t "Return to welcome page"}}</a>
    <div id="login-title" class="login-title aed">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <div class="title-block-aad">
                        <h1>CAST </br>{{{t "<em><span class=blue>Health</span> Dashboard</em>"}}}</h1>
                    </div>
                    <div class="title-block-aed">
                        <h1>CAST </br>{{{t "<em><span class=red>Engineering</span> Dashboard</em>"}}}</h1>
                        <!--<h3>Next release preview</h3>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="outer login">
            <div class="middle">
                <div class="inner">
                  <form id="credentials">
                    <div id="login-username" class="login-text login-authentication">
                        <input type="text" autocomplete="on" autocorrect="off" placeholder="{{t "USERNAME"}}" autocapitalize="none" name="login"/>
                    </div>
                    <div id="login-password" class="login-text login-authentication">
                        <input type="password" autocomplete="on"  placeholder="{{t "PASSWORD"}}" name="password"/>
                    </div>
                    <div class="login-actions login-authentication">
                        {{#if configureRequestAccess}} <a id="login-request-access-action" class="login-help-action">{{t "Can't access"}}</a>{{/if}}
                        <div class="login-error">
                            <p>{{t "Invalid username or password"}}</p>
                        </div>
                        <input type="submit" class="login-action" id="login-button" name="login-button" value="{{t "Log In"}}" />
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="outer cannot-access">
            <div class="middle">
                <div class="inner">
                    <h2>{{t "Request access"}}</h2>
                    <p>{{t "Use this page to request a new username or a password if you already have a username."}}</p>
                    <div id="login-request-choice" class="login-request-access">
                        <div><input type="radio" id="login-reset-password" name="login-request-radio"
                                    checked="checked">&nbsp; {{t "Password lost"}}</input></div>
                        <div><input type="radio" id="login-request-access" name="login-request-radio">&nbsp; {{t "Request access"}}</input></div>
                    </div>
                    <div id="login-userlost" class="login-text login-request-access">
                        <input type="text" placeholder="{{t "USERNAME"}}"/>
                    </div>
                    <div class="login-actions login-request-access">
                        <a id="login-request-access-back" class="login-help-action">{{t "Go back to login page"}}</a>
                        <a class="login-action">{{t "Send"}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div id="login-cast-logo">{{t "Powered by CAST Application Intelligence Platform"}} {{castVersion}}</div>
