<div class="defect-summary">
    <div class="value">{{formatNumber defectiveComponents.number "0a"}}</div>
    <div class="label">{{t "Involved Objects"}}</div>
</div>
<div class="defect-summary violations">
    <div class="value">{{formatNumber violations.number "0a"}}</div>
    <div class="label">{{t "Violations"}}</div>
</div>
<div class="defect-summary">
    <div class="value">{{formatNumber violatedRulePatterns.number "0a"}}</div>
    <div class="label">{{t "Violated Rules"}}</div>
</div>
<div class="trop-de-la-barre"></div>
